@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4 main-title">About Me</h1>
    <p>Hello, thanks for checking out my website</p>
    <div>
        <p>My name is Rozario</p>
    </div>
</div>