@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4 main-title">About Me</h1>
    <p>Hello, thanks for checking out my website</p>
    <div>
        <p>My name is Rozario</p>
        <p>I am an IT Student at NMU</p>
        <p>currently i am trying to learn more about backend development and microcontrollers</p>
        <img src="~/github.svg" /> <a href="https://github.com/RozarioCJS" class="">My Github</a>
    </div>
</div>