@{
    ViewData["Title"] = "About Me";
}
<body>
    <div class="text-center">
        <h1 class="display-4 main-title">About Me</h1>
        <p>Hello, thanks for checking out my website</p>
        <div>
            <p>My name is Rozario</p>
            <p>I am an IT Student at NMU</p>
            <p>currently i am trying to learn more about backend development and microcontrollers</p>
        </div>
        <h3>Below is a demonstration of one of my other Projects called <a href="https://github.com/RozarioCJS/ArduinoDrawer">ArduinoDrawer</a></h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BmPcGICduPA?mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        <img src="~/github.svg" /> <a href="https://github.com/RozarioCJS" class="">My Github</a>
    </div>
</body>
