@{
    ViewData["Title"] = "Image Converter";
}

<div class="text-center">
    <h1 class="display-4 main-title">Image Converter</h1>
    <p>Convert images for free, simply drop your image below</p>
    <div class="image-drop">
        
    </div>
</div>
